{% extends "layout.njk" %}

{% block content %}
  <form class="card" method="post" action="/members">
    <section 
      class="avatar" 
      style="background: url('/img/homem/01.jpg') no-repeat center / cover;"
    >
    </section>
    <section class="details">

      <h3>Novo Membro</h3>

     {% include 'members/fields.njk' %}
    </section>
  </form>
{% endblock %}