<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url"
      name="avatar"
      placeholder="http://"
      value="{{ member.avatar }}"
    >
  </div>
</div>

<div class="item">
  <div>Membro</div>
  <div>
    <input 
      type="text"
      name="name"
      value="{{ member.name }}"
    >
  </div>
</div>

<div class="item">
  <div>e-mail</div>
  <div>
    <input 
      type="email"
      name="email"
      value="{{ member.email }}"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input 
      type="date"
      name="birth"
      value="{{ member.birth }}"
    >
  </div>
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span>
      <input 
        type="radio" 
        name="gender"
        id="M"
        value="M"
        {% if member.gender == 'M' %}
          checked
        {% endif %}
      >
      <label for="M">Masculino</label>
    </span>

    <span>
      <input 
        type="radio" 
        name="gender"
        id="F"
        value="F"
        {% if member.gender == 'F' %}
          checked
        {% endif %}
      >
      <label for="F">Feminino</label>
    </span>
  </div>
</div>

<div class="item">
  <div>Tipo Sanguíneo</div>
  <div>
    <select name="blood">
      <option value="A1" selected>A+</option>
      <option value="A0">A-</option>
      <option value="AB1">AB+</option>
      <option value="AB0">AB-</option>
      <option value="O1">O+</option>
      <option value="O0">O-</option>
    </select>
  </div>
</div>

<div class="item">
  <div>Altura (cm)</div>
  <div>
    <input 
      type="number"
      name="height"
      value="{{ member.height }}"  
    >
  </div>
</div>

<button type="submit">Salvar</button>
